/* Stijl voor de navigatiebalk */
.navbar {
  overflow: hidden;
  background-color: #7091cd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; /* Zorg dat het altijd zichtbaar is boven andere elementen */
}

/* Stijl voor links in de navigatiebalk */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px; /* Iets meer ruimte aan beide zijden */
  text-decoration: none;
  font-size: 17px;
}

/* Hover-effect voor de links in de navigatiebalk */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Standaard verberg je de submenu's */
ul.second-level-menu, ul.third-level-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
}

/* Toon submenu bij hover */
li:hover > ul.second-level-menu, li:hover > ul.third-level-menu {
  display: block;
}

/* Menu-uitlijning */
ul.second-level-menu {
  top: 100%;
  left: 0;
}

ul.third-level-menu {
  top: 0;
  left: 100%;
}

/* Basisstijl voor menu-items */
ul.top-level-menu, ul.second-level-menu, ul.third-level-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.top-level-menu > li, ul.second-level-menu > li {
  display: inline-block;
  position: relative;
}

ul.top-level-menu > li > a, ul.second-level-menu > li > a, ul.third-level-menu > li > a {
  display: block;
  padding: 10px;
  background-color: #333;
  color: white;
  text-decoration: none;
}

/* Hover-effect voor links */
ul.top-level-menu > li > a:hover, ul.second-level-menu > li > a:hover, ul.third-level-menu > li > a:hover {
  background-color: #444;
}

/* Stijl voor de inhoud van de pagina */
.main {
  padding: 16px;
  margin-top: 60px; /* Zorg dat de inhoud niet achter de vaste navigatiebalk valt */
  height: 1500px; /* Voor scrollbare pagina's */
}
