/* Stijl voor de navigatiebalk */
.navbar {
  overflow: hidden;
  background-color: #7091cd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; /* Zorg dat het altijd zichtbaar is boven andere elementen */
}

/* Stijl voor links in de navigatiebalk */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px; /* Iets meer ruimte aan beide zijden */
  text-decoration: none;
  font-size: 17px;
}

/* Hover-effect voor de links in de navigatiebalk */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

