/* Basisinstellingen voor body */
body {
  margin: 0;
}

/* Stijl voor de navigatiebalk */
.navbar {
  overflow: hidden;
  background-color: #7091cd;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Stijl voor links in de navigatiebalk */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover-effect voor de links */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Stijl voor het dropdown-menu */
.dropdown {
  float: left;
  overflow: hidden;
}

/* De knop voor het dropdown-menu */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Hover-effect voor de dropdown-knop */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Standaard verberg je de dropdown-content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Stijl voor de links in de dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hover-effect voor links in de dropdown */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Toon de dropdown-content bij hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Stijl voor de inhoud van de pagina */
.main {
  padding: 16px;
  margin-top: 50px; /
  height: 1500px; /* Voor scrollbare pagina's */
}
